* {
    box-sizing:border-box;
}
body {
}
.row:not(#collage){
    display: flex;
}
.photos:not(#collage){
    background-color: red;
    flex: 33.33%;
    padding: 5px;
    width:100%;
}

#collage{
    width: 900px;
    height:200px;
    background-color:black;
}