body 
{
    background: url("tlo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#textboxcode{
    width: 300px;
    height: 100px;
    margin-left: 42%;
    margin-top: 450px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    text-align:center;
    font-size: 30px;
    opacity: 0.9;
    display:block;
}

#submit{
    width: 150px;
    height: 100px;
    margin-left: 875px;
    margin-bottom: 50px;
    border: none;
    border-radius: 8px;
    background-color: greenyellow;
    text-align:center;
    font-size: 30px;
    opacity: 0.9;
    display:inline-block;
    position: relative;
}
p {
    font-size: 40px;
    color: white;
}