<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="utf-8">
    <title>front FotBud</title>
</head>

<body>
<div id="app">
 
    <div class="container">

        <h1 class="title is-1">Photos</h1>

        <div class="row">
            <div class="col-sm">
                <form @submit.prevent="handleSearch">
                    <label class="label" for="term">Enter your code!</label>
                    <div class="control">
                        <input class="input" id="term" type="text" v-model="term" required autofocus>
                    </div>

                   
                </form>
            </div>
        </div>

    </br>
    <span v-if="photos[0]">
        <div class="row" v-for="i in rowCount">
            <span v-for="photo in itemCountInRow(i)">
                <div class="[ col-sm ]">
                    <div class="[ info-card ]">
                        <img style="width: 100%" :src="photo.url" />
                        <div class="[ info-card-details ] animate">
                            <div class="[ info-card-header ]"></div>
                            <div class="[ info-card-detail ]">
                                <p>Photo Id: {{photo.id}} Album Id: {{photo.albumID}}</p>
                                <a :href="photo.Image" target="_blank" class="button-wrap">FULL RESOLUTION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </span>
    <span v-else>¯\_(ツ)_/¯ Nothing here</span>

     </div>
</div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="App.js"></script>
</body>

</html>
