
	.animate {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.info-card {
		width: 100%;
		border: 1px solid rgb(215, 215, 215);
		position: relative;
		font-family: sans-serif;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.info-card > img {
		width: 100px;
		margin-bottom: 60px;
	}
	.info-card .info-card-details,
	.info-card .info-card-details .info-card-header  {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -100%;
		left: 0;
		padding: 0 15px;
		background: rgb(255, 255, 255);
		text-align: center;
	}
	.info-card .info-card-details::-webkit-scrollbar {
		width: 1px;
	}
	.info-card .info-card-details::-webkit-scrollbar-button {
		width: 8px;
		height: 0px;
	}
	.info-card .info-card-details::-webkit-scrollbar-track {
		background: transparent;
	}
	.info-card .info-card-details::-webkit-scrollbar-thumb {
		background: rgb(160, 160, 160);
	}
	.info-card .info-card-details::-webkit-scrollbar-thumb:hover {
		background: rgb(130, 130, 130);
	}           

	.info-card .info-card-details .info-card-header {
		height: 10%;		
		bottom: 100%;
		padding: 10px 5px;
	}
	.info-card:hover .info-card-details {
		bottom: 0px;
		overflow: auto;
		padding-bottom: 25px;
	}
	.info-card:hover .info-card-details .info-card-header {
		position: relative;
		bottom: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.info-card .info-card-details .info-card-header h1,	
	.info-card .info-card-details .info-card-header h3 {
		color: rgb(62, 62, 62);
		font-size: 22px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0 !important;
		padding: 0 !important;
	}
	.info-card .info-card-details .info-card-header h3 {
		color: rgb(142, 182, 52);
		font-size: 15px;
		font-weight: 400;
		margin-top: 5px;
	}
	.info-card .info-card-details .info-card-detail .social {
		list-style: none;
		padding: 0px;
		margin-top: 25px;
		text-align: center;
	}
	.info-card .info-card-details .info-card-detail .social a {
		position: relative;
		display: inline-block;
		min-width: 40px;
		padding: 10px 0px;
		margin: 0px 5px;
		overflow: hidden;
		text-align: center;
		background-color: rgb(215, 215, 215);
		border-radius: 40px;
	}

	a.social-icon {
		text-decoration: none !important;
		box-shadow: 0px 0px 1px rgb(51, 51, 51);
		box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
	}
	a.social-icon:hover {
		color: rgb(255, 255, 255) !important;
	}
	a.facebook {
		color: rgb(59, 90, 154) !important;
	}
	a.facebook:hover {		
		background-color: rgb(59, 90, 154) !important;
	}
	a.twitter {
		color: rgb(45, 168, 225) !important;
	}
	a.twitter:hover {
		background-color: rgb(45, 168, 225) !important;
	}
	a.github {
		color: rgb(51, 51, 51) !important;
	}
	a.github:hover {
		background-color: rgb(51, 51, 51) !important;
	}
	a.google-plus {
		color: rgb(244, 94, 75) !important;
	}
	a.google-plus:hover {
		background-color: rgb(244, 94, 75) !important;
	}
	a.linkedin {
		color: rgb(1, 116, 179) !important;
	}
	a.linkedin:hover {
		background-color: rgb(1, 116, 179) !important;
    }
    .button-wrap{
    padding: 14px 20px;
    color: #fff;
    background-color: #ff0e1f;
    border: 1px solid transparent;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.55);
    -webkit-transition: .5s cubic-bezier(.22,.61,.36,1);
    -moz-transition: .5s cubic-bezier(.22,.61,.36,1);
    transition: .5s cubic-bezier(.22,.61,.36,1);
    position: relative;
    display: inline-block;
    margin: 100px auto;
    text-transform: uppercase;
    font-size: 15px;
}

.button-wrap:hover {
    -webkit-filter: drop-shadow(3px 3px 20px rgba(255, 14, 31, .7));
    filter: drop-shadow(3px 3px 20px rgba(255, 14, 31, .7));
    color: #fff;
    text-decoration: none;
}

.button-wrap:before{
    content:"";
    position: absolute;
    top: -1px;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 54px solid #ff0e1f;
    border-left: 15px solid transparent;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

.button-wrap:after{
    content:"";
    position: absolute;
    top: -1px;
    right: -15px;
    width: 0;
    height: 0;
    border-top: 54px solid #ff0e1f;
    border-right: 15px solid transparent;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}