/* Base */

body {
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
}


  /* top bar */
.top-bar{
  height: 60px;
  position: absolute;
  width: 100vw;
  background: white;
  z-index: 3;
  background: -webkit-linear-gradient(rgb(91, 42, 114), rgb(56, 16, 109));
  -webkit-box-shadow: 0px 14px 29px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 14px 29px -9px rgba(0,0,0,0.75);
box-shadow: 0px 14px 29px -9px rgba(0,0,0,0.75);
  }
.top-bar-under{
  height: 70px;
  display:block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  z-index: 1;
  border-radius: 50px;
  background: rgb(66, 56, 160);
  }
.logo-under{
    border-radius: 50px;
    height: 115px;
    width:100px;
    background: rgb(66, 56, 160);
    margin: 0 auto;

  }
/*  as */
.top-bar img{
  width: auto;
  height:100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding-top: 4rem;
  margin: 0 auto;
  width: max-content;
}

.cards-wrapper-S {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding-top: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: auto;
  min-height: 150px;
  width: 150px;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  border-radius: 0.9em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(44, 54, 102);
  text-decoration: none;

}
.cards-wrapper-S .card{
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: auto;
  width: 525px;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  border-radius: 0.9em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(44, 54, 102);
  text-decoration: none;


}
.card img{
  width:100%;
    cursor:pointer;
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1285px) {
  .cards-wrapper-S {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 900px) {
 
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 530px) {
  .cards-wrapper {
    padding: 4rem 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .card {
    max-width: calc(100vw - 1rem);

  }
}

@media screen and (max-width: 450px) {
   .cards-wrapper {
    grid-gap: 2px;
  }
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
@media screen and (max-width: 380px) {
   .cards-wrapper .card {
    max-width: calc(100vw - 10rem);
    width:120px;
  }
}


.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	transition: .3s;
}
.img-wrapper:hover img
{
	transform: scale(1.2);
}

.img-wrapper h2
{
	background: rgb(44, 54, 102);
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding:10px 0 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}


.social{
  padding: 0px 8px 0px 8px;
  z-index: 3;
}

.social:hover{
  cursor:pointer
}